<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rentals</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Rental List</h1>
<a href="/rentals/add">Add Rental</a>
<table>
    <thead>
    <tr>
        <th>Car</th>
        <th>Customer</th>
        <th>Employee</th>
        <th>Location</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rental : ${rentals}">
        <td th:text="${rental.car.make + ' ' + rental.car.model}">Car</td>
        <td th:text="${rental.customer.firstName + ' ' + rental.customer.lastName}">Customer</td>
        <td th:text="${rental.employee.fullName}">Employee</td>
        <td th:text="${rental.location.city}">Location</td>
        <td th:text="${rental.startDate}">Start Date</td>
        <td th:text="${rental.endDate}">End Date</td>
        <td>
            <a th:href="@{'/rentals/edit/' + ${rental.id}}">Edit</a> |
            <a th:href="@{'/rentals/delete/' + ${rental.id}}"
               onclick="return confirm('Are you sure you want to delete this rental?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/">Home</a>
</body>
</html>
